extends: default

rules:
  line-length:
    max: 140
    allow-non-breakable-words: true
  truthy:
    allowed-values: [true, false]

ignore: |
  dist/
  pods/compliance/gatekeeper-crds/
  '**/*.tmpl'
